.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10vh;
}
.about_top {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  gap: 10px;
}
.purple {
  color: purple;
}
.about_bottom {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.about_bottom--left {
  padding: 100px 50px;
  border-radius: 20px;
  background: rgb(255, 107, 255);
  display: flex;
  cursor: pointer;
  filter: grayscale(100%);
}
.about_bottom--left:hover {
  filter: grayscale(0);
  transition: 0.3s linear;
}
.about_bottom--left img {
  width: 200px;
}
.about_bottom--right {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.right--name {
  font-size: 2rem;
  font-weight: 700;
  margin: 10px 0;
  letter-spacing: 1px;
}
.right--position {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.right--info {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 10px 0;
}
.right--email,
.right--place {
  font-size: 1rem;
  margin: 10px 0;
  font-weight: 500;
}
.blue {
  color: blue;
}
.right--btn {
  padding: 12px 30px;
  background-color: rgb(0, 0, 180);
  box-shadow: 0 0 5px blue;
  border-radius: 12px;
  border: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 600;
  gap: 10px;
  cursor: pointer;
  margin: 20px 0;
}
.right--btn:hover{
    gap: 20px;
    padding: 12px 20px 12px 30px;
    transition: .2s linear;
}
.right--btn i{
    color: #fff;
}
@media only screen and (max-width:900px){
    .about{
        height: 120vh;
        padding-top: 0;
        margin-top: 60px;
    }
    .about_top{
        margin: 0;
    }
    .about_bottom{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;

    }
    .about_bottom--left{
        padding: 50px 20px;
    }
    .about_bottom--right{
        align-items: center;
        width: 100%;
        padding: 0 20px;
 
    }
    .right--info{
        text-align: justify;
    }
}