.experience{
width: 100%;
height: 150vh;
background-color: #ccc;
padding-top: 11vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.experience_top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #000;

}
.experience_center{
width: 100%;
height: 120vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
position: relative;
}
.experience_center .center--btn{
padding: 12px 25px;
border: transparent;
box-shadow: 0 0 7px rgb(51, 51,255);
background: rgb(0, 0, 199);
color: #fff;
border-radius: 5px;
font-weight: 600;
font-size: 1.3rem;
margin: 20px 0;
}
.experience_center .center--btn:hover{
    background: #fff;
    color: #000;
    cursor: pointer;
    transition: .3s linear;
    box-shadow: 0 0 5px #ddd;
}
.center--darkline{
    width: 8px;
    height: 100%;
    background: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.center--darkline i{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 5px solid orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.center--card{
    position: absolute;
    width: 30%;
    height: 120px;
    border-radius: 10px;
    background: orange;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    padding-left: 10px;
  
}
.center--card p{
    font-weight: 600;
}
.card1{
    top: 1%;
    left: 15%;
}
.card2{
    top: 16%;
    right: 15%;
}
.card3{
    top: 32%;
    left: 15%;
}
.card4{
    top: 46%;
    right: 15%;
}
.card5{
    bottom: 25%;
    left: 15%;
}
.card6{
    bottom: 10%;
    right: 15%;
}
@media only screen and (max-width:1000px){
    .center--darkline{display: none;}
    .center--card{
        width: 80%;
       left: 50%;
       transform: translate(-50%, -50%);
       align-items: center;
    }
    .card1{
        top: 0%;
       
    }
    .card2{
        top: 16%;
        
    }
    .card3{
        top: 32%;
        
    }
    .card4{
        top: 48%;
        
    }
    .card5{
       top: 64%;
        
    }
    .card6{
   top: 80%;
        
    }
    .experience_center{
        align-items: center;
        justify-content: end;
    }
    
}