
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 5px #ccc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 9999;
    background-color: #fff;
}
.navbar_links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    height: 100%;
    width: 60%;
}
.navbar_links a{
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 2px;
    letter-spacing: 1px;
}
.navbar_links a:hover{
    color: blue;
    border-bottom: 3px solid blue;
    padding: 0;
    transition: 0.1s linear;
}
.navbar i{
    display: none;
    cursor: pointer;
    font-size: 1.2rem;
}
.navbar i:hover{
    color: orange;

}
.navbar_logo{
    width: 100px;
    cursor: pointer;
    filter: grayscale(100%);
}
.navbar_logo:hover{
    filter: grayscale(0);
}
@media only screen and (max-width:800px){
    .navbar i{
        display: flex;
    }
    .navbar_links{
        display: none;
    }
}