@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}